body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #301e42, #57d5e3);
    color: white;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2575fc;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1a59b7;
}

.weather-info {
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8783fc;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}